@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&display=swap');


body{
	height:310%;
	width:100%;
	margin:0;

	padding-bottom: 60px;

	  font-family: "IBM Plex Sans Devanagari", sans-serif;
	  font-weight: 400;
	  font-style: normal;

	background-color:white;
}


/* TEXT*/

		h1{
			font-size:25px;
			font-family: "IBM Plex Sans Devanagari", sans-serif;
			  font-weight: 400;
			  font-style: normal;
			  color:black;
			}

			h1:hover{
			 	color: #7D2EFF;
			 	text-decoration: underline;
	  						transition:0.5s;

			}

		h2{
			font-size: 23px;
			font-family: "IBM Plex Sans Devanagari", sans-serif;
			  font-weight: 400;
			  font-style: normal;
			}


			  	h3{ font-size: 50px;
			font-family: "IBM Plex Sans Devanagari", sans-serif;
			  font-weight: 400;
			  font-style: normal;} 

			  h4{ font-size: 40px;
			font-family: "IBM Plex Sans Devanagari", sans-serif;
			  font-weight: 400;
			  font-style: normal;
			  margin:0;} 


/*HEADER*/


.header{
	position:fixed;
	background-color: #7D2EFF;
	height:7vh;
	width:100%;
	    top: 0;
    	left: 0;

	display:flex;
	flex-wrap:nowrap;
}

		.headertitle{
			margin-left: 40px;
			align-content: center;

			font-size: 40px;
			flex-grow:9;

		}

		.headerbutton{
			align-content: center;


			flex-grow:0.3;

		}

		.headericon{
			align-content: center;

			flex-grow:0.5;

		}

					.button1{
						font-size: 20px;
						border:none;
						padding:10px 35px 10px 35px;
						background-color: white;
						border-radius:45px;
					}


				.button1:hover{
					background-color:#A571FF;
					color:white;
					transition:0.5s}


/*Search bar*/


.searchbar {

	height:150px;
	flex: 1;
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.search-container{
	background-color: #F3F3F3;
	position: relative;
	display: flex;
	flex-wrap:nowrap;

	align-content: center;
	margin-top:20px;
	 width: 90%;

	border-radius: 30px;

	box-shadow:0px 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container input{
	background-color: #F3F3F3;
	width:100%;
	font-size:18px;
	padding:26px;
	border-radius: 30px;
	border:none;

}


/*Nav bar AND News Section */


.content{
		display: flex;
		  flex-direction: column;
		border-radius: 20px;	
		height:1000px;
		margin-top: 200px;
}



				.signup{
					 width: 70%;
					 height:60%;
					 margin-top: 2%;
					 margin-left: 15%;
					 padding: 10px;
					 text-align: center;  
					 font-size: 30px;
				}

						.headingdiv{
							width:100%;	
							text-align:left;
						}

						.userdiv{
							padding-top:10px;
							width:100%;	
						}

						.passdiv{
							width:100%;	
						}

			.forgotsection{

				width: 70%;
					 height:20%;
					 margin-top: 5%;
					 margin-left: 15%;
					 padding: 10px;
					 text-align: center;  
					 font-size: 30px;
			}
						.forgotdiv{
							width:100%;
						}

						.ordiv{
							width:100%;
						}

						.signdiv{
							width:100%;
						}

						.loginbuttondiv{
						width:100%;
						}


					.button3{
						height:25%;
						width:100%;
					border:none;
					margin-left:0;
					margin-top:5px;
					color:white;

					text-align: center;
					padding:5px;
					background-color: #552A9A;
					border-radius:30px;

					}

						.button3:hover {
							background-color: #7D2EFF;
	  						color: white;

	  						transition:0.5s;
						}